  <mat-list>
    <ng-container *ngFor="let category of categorys">
      <h3 mat-subheader>{{category}}</h3>
      <ng-container *ngFor="let item of ingredients">
        <ng-container *ngIf="item.ingredient.category === category">

          <mat-list-item>
            <h4 mat-line><b>{{item.ingredient.title}}</b>
              <br><i>{{item.quantity}} {{item.ingredient.unit}}</i></h4>
          </mat-list-item>
        </ng-container>
        </ng-container>
    </ng-container>
  </mat-list>
<!--
  <mat-list>
    <ng-container *ngFor="let category of categorys">
      <h3 mat-subheader>{{category}}</h3>
      <ng-container *ngFor="let ingredient of ingredients">
        <mat-list-item *ngIf="ingredient.category === category">
          <h4 mat-line>{{ingredient.title}}</h4>
        </mat-list-item>
      </ng-container>
    </ng-container>
  </mat-list>
  -->

<!--
  <mat-divider></mat-divider>
  <h3 mat-subheader>Notes</h3>
  <mat-list-item *ngFor="let cartItem of cartItems">
    <h4 mat-line>{{ingredient.title}}</h4>
  </mat-list-item>
</mat-list>
-->
