<div *ngIf="recipe && recipeIngredients" class="container">
  <h1>{{recipe.title}}</h1>
  <div class="row">
    <div class="col-6">
      <img src="{{recipe.picture}}">
    </div>
    <div class="col-6">
    <p>
      {{recipe.instruction}}
    </p>
  </div>
    <div class="col-12">
      <mat-chip-list aria-label="Fish selection" *ngFor="let ingredient of ingredients; let i = index">
        <mat-chip color="primary" selected>{{this.recipeIngredients[i].quantity}} {{ingredient.unit}} {{ingredient.title}}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="col-12">
      <button mat-button (click)="addToCart(recipe)">Zutaten in die Liste</button>
    </div>
</div>



