<div *ngIf="ingredients?.length > 0;else noIngredients">
  <mat-list *ngFor="let ingredient of ingredients" class="collection" role="list">
    <mat-list-item (dbclick)="deleteIngredient($event, ingredient)" role="listitem">{{ingredient.title}}</mat-list-item>
  </mat-list>
</div>

<button (click)="openIngredientDialog()" mat-stroked-button color="accent">Neue Zutat</button>
<button (click)="openIngredientToCartDialog()" mat-stroked-button color="accent">Zutat in den Einkaufswagen hinzufügen</button>

<ng-template #noIngredients>
  <mat-spinner></mat-spinner>
</ng-template>
