<h3><b>Zutatenauswahl</b></h3>

<div *ngIf="ingredients?.length > 0;else noIngredients">

  <div class="container">
    <div class="row">



      <mat-card class="col-12">
        <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
          <div class="container">
            <div class="row">

              <mat-form-field class="col-12 form-group" (ngSubmit)="onSubmit(form)">
                <mat-label>Zutat</mat-label>
                <mat-select [(ngModel)]="selectedIngredient" name="ingredient" required>

                  <mat-option *ngFor="let ingredient of ingredients" [value]="[ingredient]">
                    {{ingredient.title}} <i> in {{ingredient.unit}}</i>
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <mat-form-field class="col-12 form-group" (ngSubmit)="onSubmit(form)">
                <input name='quantity' matInput [(ngModel)]="quantity" placeholder="Menge" required>
              </mat-form-field>




              <div class="col-12">
                <button mat-stroked-button type="submit" [disabled]="form.invalid">Add</button>
              </div>
            </div>
          </div>
        </form>
      </mat-card>




      <mat-card class="col-12">
        <div *ngIf="tempList?.length > 0;else noIngredientsSelected">
          <mat-list *ngFor="let element of tempList" class="collection" role="list">
            <mat-list-item role="listitem">{{element.quantity}} x {{element.title}}</mat-list-item>
          </mat-list>
        </div>
      </mat-card>

      <div class="col-s12">
        <button (click)="openIngredientDialog()" mat-stroked-button color="primary">Neue Zutat</button>
      </div>
    </div>
  </div>

</div>


<ng-template #noIngredients>
  <button (click)="openIngredientDialog()" mat-stroked-button color="primary">Neue Zutat</button>
</ng-template>

<ng-template #noIngredientsSelected>
  Keine Zutaten ausgewählt.
</ng-template>
