<mat-toolbar class="mat-toolbar mat-elevation-z8" color="primary">

  <span [routerLink]="['/']">RecipeManager</span>
  <span class="toolbar-spacer"></span>
  <button [routerLink]="['/']" mat-raised-button color="primary">Rezepte Übersicht</button>
  <button [routerLink]="['/ingredients']" mat-raised-button color="primary">Zutatenverwaltung</button>
  <button [routerLink]="['/cart']" mat-raised-button color="accent">Einkaufsliste</button>
  <!--<button (click)="openBottomSheet()" mat-stroked-button>Einkaufswagen</button>-->

</mat-toolbar>
